    * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }




    .green-text {
        color: #27ab39;
    }

    section#content-1,
    section#content-join {
        color: #1d1d1d;
    }
    /* start of content 1 */

    section#content-1 h1 {
        font-weight: bold;
        font-size: 5rem;
        margin-bottom: 0;
    }

    section#content-1 h1+h2 {
        margin-top: 0px;
        margin-bottom: 1em;
    }

    section#content-1 h4 {
        padding-bottom: .75em;
    }

    section#content-1 img.visible-xs {
        width: 70%;
    }

    section#content-1 h4 img {
       position: relative;
    bottom: 1px;
    width: 82px;
    }

    .btn {
        background-color: #27ab39;
        border-radius: 0px!important;
        width: 170px;
        padding: 1.5rem 0!important;
        color: #fff;
    }

    .btn:hover, .btn:focus {
        color: #fff!important;
    }
    /*end of content 1 */
    /* start of carousel */

    section#content-1 .carousel-control {
        background-image: none;
        color: #333333;
        font-size: 3em;
        opacity: 1;
    }

    .carousel-control .glyphicon-menu-left,
    .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px;
    }

    .carousel-control .glyphicon-menu-right,
    .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
    }

    section#content-1 .glyphicon-menu-right,
    section#content-1 .glyphicon-menu-left {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }

    .carousel-indicators {
        bottom: -25px;
    }

    .carousel-indicators .active {
        background-color: #333333;
    }

    .carousel-indicators li {
        background-color: #686868;
    }
    /*end of carousel styling*

    /*start of clues */

    section#content-clues {
        background-color: #3cc251;
    }

    section#content-clues .col-xs-12 {
        padding: 0;
    }

    section#content-clues-bar {
        background-color: #eaeaea;
        padding: 20px 0 30px;
    }

    section#content-clues-bar h3 {
        color: #5d5d5d;
    }
    /* end of clues*/
    /* social media*/

    section#content-1,
    section#social-media,
    section#content-join {
        padding: 30px 0;
    }

    article a.btn {
        margin: 0 auto;
        display: block;
    }

    .join-textbox {
        padding-bottom: 20px;
    }

    .iphone-last-image img {
        padding-bottom: 30px;
    }
    
      
    #mechanics ul > li {
        list-style-type: upper-roman;
    }

    #mechanics ul > li > ol > li {
        list-style-type: lower-alpha;
    }

     @media all and (max-width: 768px) {
        #social-media .container {
            padding: 0 30px;
        }
      
    }


    @media all and (min-width: 768px) {
        article a.btn {
            display: inline-block;
        }
      

        .join-textbox {

            z-index: 1;
            padding-top: 100px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
       section#content-join .container {
         background: url('/images/smart-iPhoneX-phone2.png') top no-repeat;
          height: 520px;
          background-position-x: 240px;
       }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
       section#content-join .container {
         background: url('/images/smart-iPhoneX-phone2.png') top no-repeat;
          height: 520px;
              background-position-x: 380px;
       }
    }

    @media all and (min-width: 1199px) {
        .iphone-last-image {
            position: absolute;
            right: 0px;
        }
    }

html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
