body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
  margin:0px;
  padding:0px;
}

div {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width:760px;
  margin: auto;
}

.left-column {
  float:left;
  width: 410px;
  height: 230px;
}

h1 {
  color: #333;
}

h1 a {
  font-weight: normal;
  font-size: 14px;
}

/*
 * Widget
 */
.uploader
{
	/*border: 2px dotted #A5A5C7;
	width: 100%;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 40px 0px;
	margin-bottom: 10px;
  font-size: 24px;*/
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader-active {
	border-color: #0B85A1;
}

.uploader div.or {
	font-size:14px;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #71BB32;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
  font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #80CC35;
}

/*
 * File list
 */
#fileList {
  /*float:right;*/
  /*width: 330px;*/
  height:60px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: gray;
  
  font-size: 12px;
  
  overflow: hidden;
}

#fileList .file {
  width: 290px;
  margin-bottom: 15px;
}

#fileList .info {
  width: 290px;
  height: 26px;
  display: block;
  overflow: hidden;
  
  line-height: 13px;
}

#fileList .filename {
  font-weight: bold;
}

/*#fileList .bar {
  border: solid 1px #C0C0C0;
  height: 12px;
  margin-top: 5px;
  padding: 1px;
  width: 290px;
}*/

/*#fileList .progress {
  height: 12px;
  background-color: #00CCFF;
}*/

#fileList span.success {
  color: #009900;
}

#fileList span.error {
  color: #990000;
}

/* Debug */
#debug {
  clear: both;
  padding-top: 15px;
  color: #333;
}

#debug h2 {
  margin: 0px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  color: #333;
}

#debug div {
  height: 150px;
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

#debug ul {
  padding: 0px 0px 0px 20px;
  font-size: 12px;
}

#debug li {
  padding: 0px;
  margin: 0px 0px 7px 0px;
}

#footer {
  clear:both;
  width: 100%;
  padding: 20px 0px;
  font-size: 12px;
  color: #777;
  
  border-top: 1px solid #e5e5e5;
  
  text-align: right;
}
